.searchbox {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0.20);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
    border-radius: 27.5px;
    padding: 0 20px;
}
.searchbox .icon-sousuo {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}
.searchbox .search-form {
    flex: 1;
}
.searchbox .search-form .search-input {
    width: 100%;
    background: none;
    color: #fff;
}
.searchbox .search-form .search-input::placeholder {
    color: #fff;
} 