.backtotop {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(140, 230, 140,.8);
    border-radius: 50%;
}
.backtotop .iconfont {
    font-size: 30px;
}
.back-hiden {
    display: none !important;
}